@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  font-family: 'Lato', sans-serif
}
.item-container {
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  border-width: 5px;
  border-color: coral;
  width: 275px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  background-color: #F8AC3A;
  animation: smoooth-back;
  animation-duration: 0.5s;
}

.item-container:hover {
  animation: smoooth;
  animation-duration: 0.5s;
  height: 215px;
  width: 300px;
}

.item-container-image-align img {
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  background-color: transparent;
  float: center;
  height: 100%;
  width: 100%;
}

.item-container-image-align {
  background-color: transparent;
  width: 100%;
  height: 60%;
}

.item-container-text-wrapper {
  background-color:transparent;
  margin-left:10px;
}

@keyframes smoooth {
  from {width: 275px; height:200px}
  to {width: 300px; height:215px}
}

@keyframes smoooth-back {
  from {width: 300px; height:215px}
  to {width: 275px; height:200px}
}
